<html xmlns:th="http://www.thyemleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNT31I-b-Jdf8bjPM-mm-V1qCpb-oudRLvtw&s" style="max-height: 250px; object-fit: contain" class="card-img-top" alt="Imagen del usuario">
                        <input type="file" class="formc-control">
                        <div class="card-body">
                            <h3 th:text="|${Alumno.Nombre} ${Alumno.ApellidoPaterno}|"></h3>
                            <p class="card-text" th:text="|Usuario: |"></p>
                            <p class="card-text" th:text="|Email: |"></p>                            
                            <!--<a class="btn btn-primary col-12" th:href="@{/alumno/formEditable?IdAlumno=}+${Alumno.IdAlumno}">Editar Información</a>-->
                            <a class="btn btn-primary col-12"  data-bs-toggle="modal" data-bs-target="#modalAlumno" >Editar Información</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Direcciones Asignadas</h5>


                            <!--<a class="btn btn-secondary mt-2 col-12" th:href="@{/alumno/formEditable?IdAlumno=}+${Alumno.IdAlumno}+'&IdDireccion=0'">Agregar Dirección</a>-->
                            <button class="btn btn-secondary mt-2 col-12" data-bs-toggle="modal" data-bs-target="#modalDireccion" onclick="modalAgregarDireccion()">Agregar Dirección</button>

                            <br/><br/>

                            <table class="table table-responsive table-bordered table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Dirección</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="direccion : ${Alumno.Direcciones}">
                                        <td th:text="${direccion.Calle}"></td>
                                        <td>
                                            <!--<a class="btn btn-warning btn-sm" th:href="@{/alumno/formEditable?IdAlumno=}+${Alumno.IdAlumno}+'&IdDireccion='+${direccion.IdDireccion}">Editar</a>-->
                                            <!--                                            <button class="btn btn-warning btn-sm" th:onclick="|modalDireccion(${direccion.IdDireccion})|">Editar</button>-->
                                            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalDireccion"  th:onclick="|modalDireccion(${direccion.IdDireccion})|">
                                                Editar
                                            </button>
                                            <a class="btn btn-danger btn-sm">Borrar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalAlumno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Direccion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form th:object="${Alumno}" method="post"   >

                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" placeholder="Nombre" th:field="*{Nombre}" required>
                                </div>

                                <div class="mb-3">
                                    <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                                    <input type="text" id="apellidoPaterno" class="form-control" placeholder="Apellido Paterno" th:field="*{ApellidoPaterno}" required>
                                </div>

                                <div class="mb-3">
                                    <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                                    <input type="text" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" th:field="*{ApellidoMaterno}">
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Correo electrónico</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email" th:field="*{Email}" required>
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" id="password" class="form-control" placeholder="Password" th:field="*{Password}" required>
                                </div>

                                <div class="mb-3">
                                    <label for="semestre" class="form-label">Semestre</label>
                                    <select id="semestre" class="form-select" th:field="*{Semestre.IdSemestre}" required>
                                        <option value=0>Selecciona un Semestre</option>
                                        <option th:each="semestre : ${Semestres}" th:text="${semestre.Nombre}" th:value="${semestre.IdSemestre}"></option>
                                    </select>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalDireccion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Direccion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form th:object ="${Direccion}" th:action="@{/usaurio/${IdUsuario}/direccion}">
                                <input type="hidden" id="inptIdDireccion" th:field="${Direccion.IdDireccion}">

                                <div class="row m-2">
                                    <input type="text" placeholder="Calle"  class="form-control col m-1" th:field="${Direccion.Calle}" id="intpCalle">
                                    <input type="text" placeholder="Numero Interior" class="form-control col m-1" th:field="${Direccion.NumeroInterior}" id="intpNumeroInterior">
                                </div>
                                <div class="row m-2">
                                    <input type="text" placeholder="Numero Exterior" class="form-control col m-1" th:field="${Direccion.NumeroExterior}" id="intpNumeroExterior">
                                </div>
                                <div class="row m-2">
                                    <label for="ddlpais" class="form-label fw-bold">Pais</label>
                                    <select id="ddlpais" class="form-select col-4" aria-label="Default select example" >
                                        <option value=0 selected>Selecciona un pais</option>
                                        <option th:each="pais : ${Paises}" th:text="${pais.Nombre}"  th:value="${pais.IdPais}"></option>
                                    </select>
                                </div>
                                <div class="row m-2">
                                    <label for="ddlcolonia" class="form-label fw-bold">Pais</label>
                                    <input type="text" placeholder="Colonia" class="form-control"></input>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script>
//                                function ShowModalEditar() {
//                                    var modal = $("#modalEdicionUsuario");
//
//                                    if (modal.css("display") === "none") {
//                                        modal.css("display", "block");
//                                    } else {
//                                        modal.css("display", "none");
//                                    }
//                                }

                                function ShowModalEditar() {
                                $("#modalEdicionUsuario").toggle(300);
                                }

                                function modalDireccion(iddireccion) {

                                $("#modalDireccion").toggle(300);
                                $.ajax({
                                url: '/alumno/GetDireccionById?IdDireccion=' + iddireccion,
                                        type: 'GET', type: 'GET',
                                        dataType: 'json', (data, textStatus, jqXHR) => {
                                $.each(data.Object.direcciones, (i, direccion) => {
                                if (direccion.idDireccion == idDireccion){
                                console.log(direccion.calle);
//                                                           $('#Dircalle, #noExterior, #noInterior, #idCol').val('')
                                $("#Dircalle").val(direccion.calle);
                                $("#noExterior").val(direccion.numeroExterior);
                                $("#noInterior").val(direccion.numeroInterior);
                                $("#idCol").val(direccion.idColonia);
                                }
                                });
                                }
                                success: function (result) {
                                if (result.Correct) {
                                $('#inptIdDireccion, (data, textStatus, jqXHR) => {
                                        $.each(data.Object.direcciones, (i, direccion) => {
                                        if (direccion.idDireccion == idDireccion){
                                        console.log(direccion.calle);
//                                                           $('#Dircalle, #noExterior, #noInterior, #idCol').val('')
                                        $("#Dircalle").val(direccion.calle);
                                        $("#noExterior").val(direccion.numeroExterior);
                                        $("#noInterior").val(direccion.numeroInterior);
                                        $("#idCol").val(direccion.idColonia);
                                        }
                                        });
                                }('#intpCalle').val('');
                                        $('#inptIdDireccion').val(result.Object.idDireccion);
                                $('#intpCalle').val(result.Object.calle);
                                }
                                }, error: function (result) {

                                }
                                });
                                }

                                function modalAgregarDireccion() {
                                $('#inptIdDireccion').val('');
                                $('#intpCalle').val('');
                                $('modalDireccion').toggle(300);
                                }


        </script>

    </body>
</html>
