<html xmlns:th="http://www.thyemleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    </head>
    <body >
        <div class="container">

            <form method="post" th:object="${Alumno}" th:action="@{add}">

                <div class="row">
                    <div class="col-md-4 text-center d-flex flex-column align-items-center">
                        <div class="card p-3 w-100 h-100">
                            <label for="imagenFile" class="form-label fw-bold">Imagen</label>
                            <input type="file" class="form-control mb-2" name="imagenFile" id="imagenFile">
                            <img id="previewImage" style="max-width: 300px; max-height: auto" class="mx-auto" src="https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card p-3 h-100">
                            <div class="mb-3">
                                <label for="NombreAlumno" class="form-label fw-bold">Nombre</label>
                                <input  type="text" class="form-control" placeholder="Nombre" id="NombreAlumno" th:field="*{Nombre}">                           
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="ApellidoPaternoAlumno" class="form-label fw-bold">Apellido Paterno</label>
                                    <input  type="text" class="form-control" id="ApellidoPAlumno"  placeholder="Apellido Paterno" th:field="*{ApellidoPaterno}">
                                </div>
                                <div class="col mb-3">
                                    <label for="ApellidoMaternoAlumno" class="form-label fw-bold">Apellido Materno</label>
                                    <input id="ApellidoMaternoAlumno" type="text" class="form-control" placeholder="Apellido Materno"  th:field="*{ApellidoMaterno}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="FechaNacAlumno" class="form-label fw-bold">Fecha de Nacimiento</label>
                                    <input type="Date" class="form-control" placeholder="Fecha Nacimiento">
                                </div>
                                <div class="col mb-3">
                                    <label for="UserNameAlumno" class="form-label fw-bold">Username</label>
                                    <input id="UserNameAlumno" type="text" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="EmailAlumno" class="form-label fw-bold">Email</label>
                                    <input id="EmailAlumno" type="email" class="form-control" placeholder="Email"  th:field="${Alumno.Email}" >
                                </div>
                                <div class="col mb-3">
                                    <label for="PasswordAlumno" class="form-label fw-bold">Password</label>
                                    <input id="PasswordAlumno" type="password" class="form-control" placeholder="Contraseña"  th:field="${Alumno.Password}">
                                </div>
                            </div>
                            <div class="row">
                                <label for="semestreAlumno" class="form-label fw-bold">Semestre</label>
                                <input id="semestreAlumno" type="text" class="form-control" placeholder="Semestre"  th:field="*{Semestre.IdSemestre}">
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <label class="form-label fw-bold">Calle</label>
                        <input type="text" class="form-control" placeholder="Calle"   th:field="*{Direcciones[0].Calle}">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label fw-bold"># Interior</label>
                        <input type="text" class="form-control" placeholder="# int." th:field="*{Direcciones[0].NumeroInterior}">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label fw-bold"># Exterior</label>
                        <input type="text" class="form-control" placeholder="# ext." th:field="*{Direcciones[0].NumeroExterior}">
                    </div>
                </div>

                <div class="row"> 

                    <div class="col-md-3">
                        <label for="colonia" class="form-label fw-bold">Colonia</label>
                        <input id="colonia" type="text" class="form-control" placeholder="Colonia" th:field="*{Direcciones[0].Colonia.IdColonia}">
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <label for="ddlpais" class="form-label fw-bold">Pais</label>
                        <select id="ddlpais" class="form-select" aria-label="Default select example" >
                            <option value=0 selected>Selecciona un pais</option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlestado" class="form-label fw-bold">Estado</label>
                        <select id="ddlestado" class="form-select" aria-label="Default select example">
                            <option value=0 selected>Selecciona un estado</option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlmunicipio" class="form-label fw-bold">Municipio</label>
                        <select id="ddlmunicipio" class="form-select" aria-label="Default select example">
                            <option value=0 selected>Selecciona un municipio</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlcolonia" class="form-label fw-bold">Colonia</label>
                        <select id="ddlcolonia" class="form-select" aria-label="Default select example">
                            <option value=0 selected>Selecciona una colonia</option>
                            <option value=1 data-cp="03500">Colonia A</option>
                            <option value=2 data-cp="03501">Colonia B</option>
                        </select>
                    </div>

                    <input type="text" id="codigoPostal"/>

                </div>

                <button type="submit" class="btn btn-success mt-4 w-100 fw-bold">Agregar</button>
            </form>

        </div>
    </body>


</html>
